.comics__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.comics__item{
width: 250px;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: var(--color-light);
margin: var(--spacing-large);
transition: 0.5s;
cursor: pointer;
}
.comics__item:hover {
	transform: rotate(-3deg) scale(0.95);
	filter: saturate(150%);
}
.comics__title{
    text-align: center;
    padding: var(--spacing-small) var(--spacing-small);
}
.comics__img {
	width: 100%;
}